.form__field-holder .blocklinkfield {
  box-shadow: none;
  -webkit-box-shadow: none;

  &:hover {
    background-color: $table-hover-bg;
    cursor: pointer;
  }
}

.blocklinkfield__icon::before {
  content: "2"; // font-icon-link
  font-family: silverstripe;
  font-size: $font-size-lg * 1.2;
  left: $btn-icon-spacing;
  margin-right: $btn-icon-spacing * 3;
  position: relative;
}

.blocklinkfield__content--message {
  font-style: italic;
}

.blocklinkfield__link {
  color: $link-color;
}
